/* .footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgb(96, 92, 92);
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  padding-top: 10px; 

/* }

.footer-container {
  border-radius: 0.1px #fffcfc;
  display: flex;
  padding: 0 auto; 
  column-gap: 56px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  /margin-left: 30px;
  padding-top: 10px;
  margin-top: 10px
  ;
} */

/* .footer .footer-container{
  column-gap: 56px;
} */

.footer-row {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.footer-col {
  width: 33%;
  /* padding: 100px; */
}
/* 
.footer-col h4 {
  margin-bottom: 25px;
  font-weight: bold;
} */

/* .social-icons { */
  /* display: flex; */
  /* list-style: none; */
  /* padding: 50px 0; */
  /* margin-bottom: 30px; */
  /* display:flexbox;
}

.social-icons li {
  margin-right: 20px;
  list-style-type: none;
}

.social-icons a {
  color: #333;
  font-size: 24px;
}

.contact {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

.contact li {
  margin-bottom: 10px;
}

form {
  display: flex;
} 

.btn{
  color: rgb(255, 255, 255);
  background-color: black;
  width: 100px;
  height: 50px;
  margin-left: 10px;
}

.email{
  color: rgb(255, 255, 255);
  background-color: black;
  width: 300px;
  height: 50px;
}  */