.footer {
    background-color: #2e2b2b;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer-content {
    color: #e1d5d5;
  }